button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;
    width:50%;
}
main{
    float:left;
    width:50%;
    height:600px;
    
}
aside{
    float:right;
    width:50%;
    height:600px;
    background-color:brown;
}